extends layout.pug
block content
  .row
    #myCarousel.carousel.slide(data-interval='3000', data-ride='carousel').hidden-xs
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .active.item
          img(src='img/1280x400/carrousel_1_1280x400.jpeg', alt='First Slide')
          //- .carousel-caption
          //-   .first-motto
          //-     h2 La India te transforma
        .item
          img(src='img/1280x400/carrousel_2_1280x400.jpeg', alt='Second Slide')
          //- .carousel-caption
          //-   .second-motto
          //-     h2 La India salvaje
        .item
          img(src='img/1280x400/carrousel_3_1280x400.jpeg', alt='Third Slide')
          //- .carousel-caption
          //-   .third-motto
          //-     h2 La India te transforma
      a.carousel-control.left(href='#myCarousel', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.carousel-control.right(href='#myCarousel', data-slide='next')
        span.glyphicon.glyphicon-chevron-right 
  #filter-carousel
    h2#motto Descubre la India real
  .row.objective-section
    .container
      span Recibe gratis nuestra guía de turismo responsable
      a(href="#").btn.btn-primary La quiero
  .content-block-one.content-block-height#index-why-section
    .container
      h2 El porqué de viajar con India con corazón
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .content-space-one.content-space-all
    .text-center
      //- h1 This separates content!
      //- .page-break
      //- p Other information can go here
  .content-block-one.content-block-height#index-responsible-section
    .container
      h2 Turismo Responsable en la India
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .content-space-two.content-space-all
    .text-center
      //- h1 This separates content!
      //- .page-break
      //- p Other information can go here
  .content-block-one.content-block-height#index-trip-section
    .container
      h2 Nuestro viaje
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .content-space-three.content-space-all
    .text-center
      //- h1 This separates content!
      //- .page-break
      //- p Other information can go here
  .row.objective-section
    .container
      span Recibe gratis nuestra guía de turismo responsable
      a(href="#").btn.btn-primary La quiero
  .content-block-one.contennt-block-height#index-end-section
block javascript
  script.
    (function(){
      var myCarouselStyle = window.getComputedStyle(document.getElementById("myCarousel"));
      var height = myCarouselStyle.height
      console.log(height)
      var pixels = Number(height.substring(0, height.length-2))
      pixels = parseInt(pixels/2)
      console.log(pixels)
      document.getElementById('filter-carousel').style.height = height
      document.getElementById('motto').style.marginTop = (pixels+'px')
    })()