extends layout.pug
block content
  main.row.trip-block
    .container
      h1.space-before-block.space-after-block.text-center Viajes a la india
      ul.trip-list
        each trip, i in atrips
          li 
            h2.text-center
              a(href="/trip/" + trip.titleUri + "/_")!= marked(trip.title)
            p!= marked(trip.description)
            nav.row.hidden-xs  
              .trip.center-block
                .trip-row
                each destination in trip.destinations
                  .trip-step
                    button.btn.btn-default.btn-circle(type='button', disabled='disabled')
                    p 
                      a(href="/trip/" + trip.titleUri+'/'+destination.name)=destination.name
            ul.row.visible-xs.list-unstyled.text-right.trip-xs
              each destination in trip.destinations
                li
                  a(href="/trip/" + trip.titleUri+'/'+destination.name)=destination.name

    .row.objective-section
      .container
        span Nosotros te diseñamos tu viaje
        a(href="/contact").btn.btn-primary Contactar