<nav class="navbar navbar-default" ng-controller="NavbarController">
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">India con Corazón</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/admin/"  ng-show="vm.loggedUser">Viajes</a></li>
        <li><a href="/admin/#!/destination" ng-show="vm.loggedUser">Destinaciones</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-show="vm.loggedUser" class="btn" ng-click="vm.logout($event)">{{ vm.textButton }}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
