$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import '../../../public/bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
body
  font-family: 'Laila', Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px