
.content-block-one
  margin-bottom: 0px
  color: inherit
  background-color: #eee
  h1, .h1
    color: inherit
  p
    margin-bottom: 15px
    font-size: 21px
    font-weight: 200
  > hr
    border-top-color: #d5d5d5

.content-block-height
  height: 400px

.container .content-block-one
  border-radius: 6px

.content-block-one .container
  max-width: 100%
  padding: 20px 0px

@media screen and (min-width: 768px)
  .content-block-one
    padding-top: 10px
    padding-bottom: 10px
  .container .content-block-one
    padding-right: 60px
    padding-left: 60px
  .content-block-one
    h1, .h1
      font-size: 63px


.content-space-all
  padding: 0px
  margin-bottom: 0px
  color: inherit
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  padding-top: 200px
  padding-bottom: 200px

.content-space-one
  background: url(/img/space-one.jpeg) no-repeat center center fixed

.content-space-two
  background: url(/img/space-two.jpeg) no-repeat center center fixed

.content-space-three
  background: url(/img/space-three.jpeg) no-repeat center center fixed

.page-break
  width: 50%
  height: 3px
  background-color: #fff
  margin: 0 auto

.objective-section
  text-align: center
  color: #555753
  font-size: 3.5rem
  background: #FFF07B
  font-size: 2rem
  margin-left: 1rem

#myCarousel
  padding-top: 50px
  width: 100%

.item
  img
    width: 100%

.carousel-caption
  :first-of-type
    background-color: blue