/* navbar

.row 
  margin: 0

.navbar-default
  // background-color: #113E5B
  background-color: #97414D
  border-color: transparent
  margin: 0px
  position: fixed
  width: 100%
  border-radius: 0px
  // z-index: 10007
  z-index: 1
  // color: white
  .navbar-brand
    color: white

.navbar-default .navbar-nav>li>a
  color: white
  font-weight: bolder

.navbar-default .navbar-nav>li>a:hover
  color: yellow

.logo-white
  height: 40px
  margin-top: -27px

.navbar-brand
  line-height: 50px
  vertical-align: middle
  // margin-top: -10px

.navbar-brand>img 
  display: inline

.navbar-nav
  flex-direction: row

.navbar
  padding: 0px
  border: 0px
  // width: 100%